.main {
  max-width: 1200px;
  margin: auto;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .main {
    max-width: 1000px;
  }
}

@media screen and (max-width: 900px) {
  .main {
    max-width: 800px;
  }
}

@media screen and (max-width: 600px) {
  .main {
    max-width: 500px;
  }
}