.productsContainer {
  position: relative;
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  max-width: 100%;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .productsList {
    width: 980px;
  }
}

@media screen and (max-width: 899px) {
  .productsList {
    width: 800px;
  }
}

@media screen and (max-width: 600px) {
  .productsList {
    width: 600px;
  }
}

@media screen and (max-width: 500px) {
  .productsList {
    width: 220px;
  }
}

.product {
  background-color: var(--card-color);
  border: 1px solid var(--gray-border);
  width: 220px;
  height: 280px;
  padding: 10px;
  border-radius: 10px;
  position: relative; /* لتحديد السياق للتحويم */
  overflow: hidden; /* لإخفاء الأجزاء المتجاوزة */
}

.imageContainer {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.image {
  width: 200px;
  object-fit: cover;
  height: 200px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.favorites {
  z-index: 100;
  position: absolute;
  top: 5;
  right: 5;
  background-color: var(--card-color);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--gray-border);

}

.addToCart {
  z-index: 100;
  position: absolute;
  bottom: 5;
  right: 5;
  background-color: var(--card-color);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--gray-border);

}

.addToCart:hover , .favorites:hover {
  border-radius: 10px;
  box-shadow: 0px 0px 8px 2px #00000035;
}

.product:hover .image {
  /* transform: scale(1.2); */
}

.productName {
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
  overflow: hidden;
  word-break: break-all;
  height: 16.5px;
  cursor: pointer;
}

.price {
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
}

